<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @user.biography %>
</p>

<% if @user.image.exists? %>
    <%= image_tag @user.image.url %><br/>
<% end %>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.title %> <%= post.body %> 
    <% if logged_in? && current_user == post.user%>
      <%= link_to 'Edit', edit_post_path(post) %></li>
    <%end%>
  <% end %>
</ul>
<%= link_to 'AddPost', new_post_path(user_id: @user.id)%> |


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
