<script>
  $(document).ready(function() {
    $('#my-posts').hide();
    $('.all-posts-link').hide();
  });
</script>
<h1>All Posts</h1>
<% if logged_in?%>
  <%= link_to "Home", user_path(current_user) %>
  <%= link_to "All posts", "", class: 'all-posts-link', data: {'all-link' => true} %>
  <%= link_to "My posts", "", class: 'my-posts-link', data: {'jmy-link' => true} %>

  <br>
  <br>
<%end%>
<br>
<table id="all-posts">
  <tr>
    <td>
      Title
    </td>
    <td>
      User
    </td>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post_path(post) %>
      </td>
      <td>
        <%= post.user_id%>
      </td>
    </tr>
  <% end %>
</table>
<table id="my-posts">
  <tr>
    <td>
      Title
    </td>
  </tr>
  <% @posts.each do |post| %>
    <% if logged_in? && current_user==post.user%>
      <tr>
        <td>
          <%= link_to post.title, post_path(post) %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>